Options -MultiViews
RewriteEngine On

RewriteCond %{REQUEST_URI} !^/(api)(/|$) [NC]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [QSA,L]

AuthType Basic
AuthName "Movies admin"
AuthUserFile C:/xampp/htdocs/public_html/movies/.htpasswd

<RequireAny>
  Require expr %{REQUEST_URI} =~ m#^/(public|demo|assets|favicon\.svg|api)(/|$)#
  Require valid-user
</RequireAny>